<form action="/result" method="post">
  <div class="d-flex flex-column align-items-center">
    <input type="url" name="url" placeholder="Input URL here" class="form-control-lg w-100 my-3">
    <button type="submit" class="btn btn-outline-primary w-25">Shorten</button>
  </div>
</form>
{{#if tr }}
<div class="alert alert-danger my-3" role="alert">
  Please don't input empty URL!
</div>
{{/if}}