<div class="d-flex flex-column align-items-center justify-content-between">
  <h3 class="mb-3">Success! Please use this link:</h3>
  <div class="mb-3">
    <a href="/">http://localhost:3000/xxxxx</a>
  </div>
  <button type="button" class="btn btn-primary">Copy</button>
</div>